<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ 'application.title' | translate }}</ion-title>
    <ion-button slot="end" (click)="logout()">logout</ion-button>
  </ion-toolbar>
</ion-header>


<ion-content padding class="questionaire">
  <ion-grid>
    <h1 *ngIf="user; else spinnerBlock">Hello {{ user }}</h1>
    <ng-template #spinnerBlock>
      <h1> Nope</h1>
    </ng-template>
    <control-component *ngIf="user" [toggleQuestionsStatements]="toggleQuestionsStatements" ></control-component>
    <div *ngIf="showStatements && questionaire; else elseBlock">
      <statement-catalog></statement-catalog>
    </div>
    <ng-template #elseBlock>
      <ion-row *ngIf="questionaire">
        <ion-col size="10">
          <ion-list class="foobar">
            <ion-row class="question">
              <ion-col class="center">
                <ion-label>Prelude Text</ion-label>
                <ion-textarea cols=80 placeholder="Enter preludeText" value="{{ questionaire.preludeText }}" (ionChange)="changePreludeText($event)"
                  maxlength=3000 auto-grow="true"></ion-textarea>
              </ion-col>
            </ion-row>
            <question-component *ngFor="let question of questionaire.questions; let i=index; trackBy:trackByFn"
              [questionUUID]="question" [categories]="questionaire.categories" [index]="i"></question-component>
            <ion-row class="question">
              <ion-col class="center">
                <ion-label>Postlude Text</ion-label>
                <ion-textarea placeholder="Enter postludeText" value="{{ questionaire.postludeText }}" (ionChange)="changePostludeText($event)"  maxlength=3000></ion-textarea>
              </ion-col>
            </ion-row>
          </ion-list>
        </ion-col>
        <ion-col size="2">
          <ion-reorder-group (ionItemReorder)="doReorder($event)" disabled="false" class="scrollfixed">
            <ion-item *ngFor="let question of questionsList; let i=index; trackBy:trackByIndex">
              <ion-label>{{ i }}: {{ question.text }}</ion-label>
              <ion-reorder slot="end"></ion-reorder>
            </ion-item>
          </ion-reorder-group>
        </ion-col>
      </ion-row>
    </ng-template>
  </ion-grid>
</ion-content>