<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ 'application.title' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div class="ion-text-center" style="margin: auto;">
          <img src="assets/images/undraw_doctor_kw5l.svg" style="max-height: 200px; margin: 20px auto;" />
        </div>
      </ion-col>
    </ion-row>
    <control-component [toggleQuestionsStatements]="toggleQuestionsStatements"></control-component>
    <ion-row *ngIf="questionaire">
      <ion-col>
        Questionaire: {{ questionaire.name }}
        Owner: {{ questionaire.owner }}
        Created: {{ questionaire.created }}
        LastModified: {{ questionaire.modified }}
      </ion-col>
    </ion-row>
    <div *ngIf="showStatements && questionaire; else elseBlock">
      <statement-catalog></statement-catalog>
    </div>
    <ng-template #elseBlock>
      <ion-row>
        <ion-col>
          <ion-list size="10">
            <question-component *ngFor="let question of questions; trackBy:trackByFn" [question]="question"
              [categories]="questionaire.categories" [questions]="questions"></question-component>
          </ion-list>
        </ion-col>
        <ion-col size="2">
          <ion-reorder-group (ionItemReorder)="doReorder($event)" disabled="false">
            <ion-item *ngFor="let question of questions; let i=index; trackBy:trackByFn">
              <ion-label>{{ i }}: {{ question.id }}</ion-label>
              <ion-reorder slot="end"></ion-reorder>
            </ion-item>
          </ion-reorder-group>
        </ion-col>
      </ion-row>
    </ng-template>
  </ion-grid>
</ion-content>