<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ 'application.title' | translate }}</ion-title>
    <ion-button slot="end" (click)="logout()">logout</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <h1 *ngIf="user">Hello {{ user }}</h1>
    <control-component *ngIf="user" [toggleQuestionsStatements]="toggleQuestionsStatements"></control-component>
    <ion-row *ngIf="questionaire && user">
      <ion-col>
        Questionaire: {{ questionaire.name }}
        Owner: {{ questionaire.owner }}
        Created: {{ questionaire.created }}
        LastModified: {{ questionaire.modified }}
      </ion-col>
    </ion-row>
    <div *ngIf="showStatements && questionaire; else elseBlock">
      <statement-catalog></statement-catalog>
    </div>
    <ng-template #elseBlock>
      <ion-row *ngIf="questionaire">
        <ion-col size="10">
          <ion-list>
            <ion-row class="question">
              <ion-col>
                <ion-textarea placeholder="Enter preludeText" value="{{ questionaire.preludeText }}" (ionChange)="changePreludeText($event)"></ion-textarea>
              </ion-col>
            </ion-row>
            <question-component *ngFor="let question of questionaire.questions; let i=index; trackBy:trackByFn"
              [questionUUID]="question" [categories]="questionaire.categories" [index]="i"></question-component>
            <ion-row class="question">
              <ion-col>
                <ion-textarea placeholder="Enter postludeText" value="{{ questionaire.postludeText }}" (ionChange)="changePostludeText($event)"></ion-textarea>
              </ion-col>
            </ion-row>
          </ion-list>
        </ion-col>
        <ion-col size="2">
          <ion-reorder-group (ionItemReorder)="doReorder($event)" disabled="false" class="scrollfixed">
            <ion-item *ngFor="let question of questionsList; let i=index; trackBy:trackByIndex">
              <ion-label>{{ i }}: {{ question.text }}</ion-label>
              <ion-reorder slot="end"></ion-reorder>
            </ion-item>
          </ion-reorder-group>
        </ion-col>
      </ion-row>
    </ng-template>
  </ion-grid>
</ion-content>