ion-input {
  --background: #ccc;
  --color: #333;
  border: solid rgb(15, 172, 106) 2px;
}

ion-select, ion-label, .foobarbaz {
  border: solid rgb(15, 172, 106) 2px;
}

.statementWrapper {
  border: solid green 5px;
}

.statementComponent {
  border: solid red 1px;
}

.conditionComponent {
  border: solid blue 1px;
}

.answer {
  margin: 25px;
  padding: 25px;
  background-color: #1abc9c;
  border: solid #eee 2px;
  color: #2c3e50;
  border-radius: 25px;
}
