<ion-row>
  <ion-button (click)="toggleAnswerVisibility()">
    <ion-icon *ngIf="!answersVisible" name="eye"></ion-icon>
    <ion-icon *ngIf="answersVisible" name="eye-off"></ion-icon>
  </ion-button>
</ion-row>
<ng-container *ngIf="answersVisible">
  <ion-row *ngFor="let sq of selectedQuestions; let i=index; trackBy: trackByFn" class="answer">
    <ion-col size="6">
      {{ sq.id }}: {{ sq.text }}
    </ion-col>
    <ion-col size="6">
      <ion-input *ngIf="sq.inputType == 'date'; else elseBlock" placeholder="enter answer value"
        (ionChange)="changeAnswer(sq, i, $event)"></ion-input>
      <ng-template #elseBlock>
        <ion-select (ionChange)="changeAnswer(sq, i, $event)">
          <ion-select-option *ngFor="let o of sq.options; let i=index; trackBy: trackByFn">{{o}}</ion-select-option>
        </ion-select>
      </ng-template>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size=12>
      <ion-button (click)="getEvaluations()" disabled={{evalDisabled}}>eval</ion-button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size=12>
      <ion-item *ngFor="let ev of evaluations">{{ev}}</ion-item>
    </ion-col>
  </ion-row>
</ng-container>
<ion-row>
  <ion-col>
    <ion-button (click)="addStatement()">add statement</ion-button>
  </ion-col>
</ion-row>

<ion-row>
  <ion-col size="10">
    <ion-list>
      <statement-component *ngFor="let s of statements; let i=index; trackBy: trackByUUID" [statement]="s">
      </statement-component>
    </ion-list>
  </ion-col>
  <ion-col size="2">
    <ion-reorder-group (ionItemReorder)="doReorder($event)" disabled="false" class="scrollfixed">
      <ion-item *ngFor="let statement of statements; let i=index; trackBy:trackByIndex">
        <ion-label>{{ i }}: {{ statement.uuid }}</ion-label>
        <ion-reorder slot="end"></ion-reorder>
      </ion-item>
    </ion-reorder-group>
  </ion-col>
</ion-row>