ion-input {
  --background: #ccc;
  --color: #333;
  border: solid rgb(15, 172, 106) 2px;
}

ion-select, ion-label {
  border: solid rgb(15, 172, 106) 2px;
}

.statementWrapper {
  border: solid green 5px;
}