<ion-row class="statementComponent">
  <ion-col size="12">
    <!-- <ion-label (click)="showChangeName()">{{ statement.name }}</ion-label> -->
    
    <!-- <ion-button (click)="showAddCondition()">add condition</ion-button> -->
    <ion-button (click)="addCondition()">add condition</ion-button>
    <ion-button (click)="deleteStatement()">
      <ion-icon name="trash"></ion-icon>
    </ion-button>
  </ion-col>
  <ion-col size="12">
    <ion-list class="foobar">
      <condition-component *ngFor="let c of conditions; let i=index; trackBy: trackByItem"
        [statementUUID]="statement.uuid" [conditionUUID]="c" [isLastElement]="i == conditions.length - 1">
      </condition-component>
    </ion-list>
  </ion-col>
  <ion-col size="6">
    <ion-button expand="block" (click)="showChangeTrueText()">change trueText</ion-button>
    <ion-label>{{statement.trueText}}</ion-label>
  </ion-col>
  <ion-col size="6">
    <ion-button expand="block" (click)="showChangeFalseText()">change falseText</ion-button>
    <ion-label>{{statement.falseText}}</ion-label>
  </ion-col>
</ion-row>