<ion-col size="12">
  <b (click)="showChangeName()">{{ statement.name }}</b>
  <ion-button (click)="deleteStatement()">
    <ion-icon name="trash"></ion-icon>
  </ion-button>
  <!-- <ion-input placeholder="enter new condition name" value="{{newConditionName}}"
    (ionChange)="changeNewConditionName($event)"></ion-input> -->
  <ion-button (click)="showAddCondition()" >add condition</ion-button>
</ion-col>
<ion-col size="12">
  <ion-list>
    <condition-component *ngFor="let c of conditions; let i=index; trackBy: trackByFn" [statementUUID]="statement.uuid"
      [condition]="c" [isLastElement]="i == conditions.length - 1" >
    </condition-component>
  </ion-list>
</ion-col>
<ion-col size="12">
  <ion-label (click)="showChangeTrueText()">{{statement.trueText}}</ion-label>
</ion-col>
<ion-col size="12">
  <ion-label (click)="showChangeFalseText()">{{statement.falseText}}</ion-label>
</ion-col>