<ion-app>
    <ion-split-pane>
        <ion-menu>
            <ion-header>
                <ion-toolbar>
                    <ion-title>{{ 'menu.title' | translate }}</ion-title>
                </ion-toolbar>
            </ion-header>
            <ion-content>
                <ion-list>
                    <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
                        <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
                            <ion-icon slot="start" [name]="p.icon"></ion-icon>
                            <ion-label>
                                {{p.title}}
                            </ion-label>
                        </ion-item>
                    </ion-menu-toggle>
                    <ion-menu-toggle auto-hide="false">
                        <ion-item href="tel:+18772019777">
                            <ion-icon slot="start" [name]="'call'"></ion-icon>
                            <ion-label>
                                {{ 'menu.call' | translate }}
                            </ion-label>
                        </ion-item>
                    </ion-menu-toggle>
                    <ion-menu-toggle auto-hide="false">
                        <ion-item href="https://cov2words.alekzone.com/" target="_blank">
                            <ion-icon slot="start" [name]="'help'"></ion-icon>
                            <ion-label>
                                {{ 'menu.about' | translate }}
                            </ion-label>
                        </ion-item>
                    </ion-menu-toggle>
                    <ion-menu-toggle auto-hide="false">
                        <ion-item>
                            <ion-icon slot="start" [name]="'globe'"></ion-icon>
                            <ion-label>{{ 'language' | translate }}</ion-label>
                            <ion-select placeholder="{{ 'language' | translate }}" (ionChange)="onChangeValue($event)">
                                <ion-select-option *ngFor="let language of languages"
                                                   value="{{language.key}}">{{ language.translation | translate }}</ion-select-option>
                            </ion-select>
                        </ion-item>
                    </ion-menu-toggle>
                </ion-list>
            </ion-content>
        </ion-menu>
        <ion-router-outlet main></ion-router-outlet>
    </ion-split-pane>
</ion-app>
