.question {
  margin: 25px;
  padding: 25px;
  background-color: #1abc9c;
  border: solid #eee 2px;
  color: #2c3e50;
  border-radius: 25px;
}

.modal-toggle:hover {
  cursor: pointer;
}

.center {
  text-align: center;
}