<ion-row class="question">
  <ion-col size="2">
    <ion-chip>
      <ion-label (click)="showChangeQuestionId()">{{ question.id }}</ion-label>
    </ion-chip>
  </ion-col>
  <ion-col size="5">
    <ion-label class="modal-toggle" (click)="showChangeQuestionText()">{{ question.text }}</ion-label>
  </ion-col>
  <ion-col size="10">
    <ion-buttons>
      <ion-button (click)="deleteQuestion(question.uuid)">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-button>
      <ion-button (click)="moveQuestion(-1)">
        <ion-icon slot="icon-only" name="arrow-up"></ion-icon>
      </ion-button>
      <ion-button (click)="moveQuestion(1)">
        <ion-icon slot="icon-only" name="arrow-down"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-item *ngIf="question.inputType == 'radio'">
      <ion-label>forked: </ion-label>
      <ion-toggle checked="{{fork}}" (ionChange)="toggleFork($event)" disabled="{{ question.inputType !== 'radio' }}"></ion-toggle>
    </ion-item>
  </ion-col>
  <ion-col size="12" *ngIf="question.inputType == 'radio'">
    <ion-list>
      <ion-item *ngFor="let option of question.options; let i=index; trackBy:trackByIndex">
        <ion-label class="modal-toggle" (click)="showChangeOption(i)">{{ option }}</ion-label>
        <ion-button (click)="deleteOption(i)">
          <ion-icon name="trash"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-list>
    <ion-button (click)="showAddOption()">
      <ion-icon name="add"></ion-icon>
    </ion-button>
  </ion-col>
  <ion-col size="12" *ngIf="fork">
    <ion-list>
      <ion-select *ngFor="let nextQuestion of question.nextQuestionMap; let i=index; trackBy:trackByIndex"
        value='{{nextQuestion}}' selectedText='{{nextQuestion}}' (ionChange)='changeNextQuestion(i, $event)'>
        <ion-select-option *ngFor='let option of questions; trackBy:trackByUUID' value='{{option.id}}'>{{option.id}}</ion-select-option>
      </ion-select>
    </ion-list>
  </ion-col>
</ion-row>