<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>{{ 'application.title' | translate }}</ion-title>
        <ion-buttons *ngIf="showInstallBtn" slot="primary">
            <ion-button (click)="showInstallBanner()">
                Install
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-grid>
        <ion-row>
            <ion-col>
                <p>{{ 'application.description' | translate }}</p>
                <p>{{ 'home.action' | translate }}</p>
                <div class="word-container">
                    <div class="word-select" *ngFor="let view of wordViews">
                        <label>{{ view.label | translate }}</label>
                        <ng-select
                                [items]="view.items"
                                [(ngModel)]="view.word"
                                (change)="onWordChanged()">
                        </ng-select>
                    </div>
                </div>

                <div class="qr-container"
                     *ngIf="qrCodeContent">
                    <qrcode [qrdata]="qrCodeContent"
                            [width]="256"
                            [errorCorrectionLevel]="'M'"></qrcode>
                </div>
            </ion-col>
            <ion-col>
                <div class="ion-text-center" style="margin: auto;">
                    <img src="assets/images/undraw_doctor_kw5l.svg"
                         style="max-height: 400px; margin: 20px auto;"/>
                </div>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
